:root {
    /* Font-families */
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: serif;

    /* Font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-750: 4.5rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-450: 1.5rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* Colors */
    --bg-primary: rgb(207, 211, 223);
    --bg-secondary: rgb(204, 204, 204);
    --clr-primary: rgb(73, 77, 198);
    --clr-secondary: rgb(129, 132, 237);
    --clr-accent: rgb(77, 82, 252);
    --font-light: rgb(16, 16, 19);
    --font-dark: rgb(236, 236, 239);
}

/* --------------------  */
/* Reset                 */
/* --------------------  */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
html,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
}

/* Utils classes */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.flex__centered {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.hidden{
    display: none;
}

/* Header */

header {
    background-color: var(--bg-secondary);
    margin: 0px 0px 24px 0px;
    height: 48px;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    >p {
        font-size: 36px;
        font-weight: bolder;
        margin: 0px 0px 0px 12px;
    }
}

.navbar___buttons__container {
    float: right;
    margin-top: 4px;
}

button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #393f42;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 0px 24px 0px 0px ;
  }
  
  button:hover {
    background-color: #7d888d;
    box-shadow: 0 0 20px #a3a3a379;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #b3c0c9;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

/* Content */

#content {
    flex-direction: column;
}

#homepage__blurb {
    background-image: url('./assets/pexels-rachel-claire-4577179.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 480px;
    max-width: 1040px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    >p, h1 {
        color: var(--font-dark);
        margin: 24px 64px 24px 64px;
        text-align: center;
        font-weight: bolder;
    }

    h1 {
        font-size: 64px;
    }
}

.restaurant__accents {
    padding: 48px 0px 48px 0px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.homepage__card{
    max-width: 328px;
    width: 100%;

    >.section__subtitle {
        font-weight: bolder;
        padding: 8px 0px 8px 0px;
    }
}

.homepage__card__section__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: inherit;
    height: 180px;
    border-radius: 10px;
}

#bar__image__container {
    background-image: url('./assets/pexels-nastyasensei-331107.jpg');
}

#dining__room__image__container {
    background-image: url('./assets/pexels-pixabay-262047.jpg');
}

#terrace__image__container {
    background-image: url('./assets/pexels-cassiano-psomas-1045199.jpg');
}

/* Menu Content */
#menu__title {
    font-size: 64px;
    text-align: center;
    padding: 0px 0px 32px 0px;
}

.menu__container {
    flex-direction: column;
    gap: 16px;

    .item__name {
        font-weight: bold;
        font-size: 24px;
    }

    .item__price {
        float: right;
        padding: 0px 0px 0px 32px;
    }
}